<div class="card">
    <img [src]="getPhotoUrl()" [alt]="car.model" class="card-image">
    <div class="card-content">
        <div class="card-header">
            <h2 class="card-title">{{ car.brand }} {{ car.model }} <span class="car-icon"></span></h2>
            <div class="likes flex items-center gap-2">
                <button (click)="likeCar()" class="like-button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </button>
                <span class="text-gray-600">{{ car.likes }}</span>
            </div>
        </div>
        <div class="card-year">{{ car.year }}</div>
        <div class="card-price">Prix : {{ formatPrice(car.price) }}</div>
        <div class="card-status" [class.available]="car.available" [class.unavailable]="!car.available">
            État : {{ car.available ? 'Disponible' : 'Indisponible' }}
        </div>
        <button class="reserve-button" *ngIf="car.available && !showActions" [routerLink]="['/details', car.id]">
             Réserver
        </button>
        <div class="action-buttons" *ngIf="showActions">
            <button class="edit-button" [routerLink]="['/editcar', car.id]">
                Modifier
            </button>
            <button class="delete-button" (click)="onDelete.emit(car)">
                Supprimer
            </button>
        </div>
    </div>
</div>
